.RecipeItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.RecipeImageContainer {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 1rem;
}

.recipe-info p {
    margin: 0;
}

.button-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
}

.delete-button {
    background-color: #f44336;
}