button {
    font-family: 'Roboto', sans-serif;
    background-color: #2E86C1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #2471A3;
    color: white;
    outline: none;
}